.spiecial-offers .product-list{
    display: grid ; 
    grid-template-columns: repeat(4, 25%); 
  }
  @media (max-width: 1300px) {
    .spiecial-offers .product-list{
        display: grid; 
        grid-template-columns: repeat(3,33%); 
      }
  }
  @media  (max-width: 980px) {
    .spiecial-offers .product-list{
        display: grid; 
        grid-template-columns: repeat(2,48%); 
      }
  }
  @media (max-width: 680px) {
    .spiecial-offers .product-list{
        display: grid; 
        grid-template-columns: repeat(1,100%); 
      }
  }
